@import '../../../Assets/style.scss';

.BUTTON {
    background-color: $white;
    border-radius: $radius-sm;
    padding: $space-xxs $space-sm;
    transition: all $duration-xs;
    border: none;
    &:active,
    &:hover {
        transform: translate3d(-5px, -5px, -5px);
        box-shadow: 10px 10px 0px -3px rgba(0, 0, 0, 0.75);
    }
    &.rev {
        border: 1px solid $black;
    }
    &-active {
    }
}
