@import '../../../Assets/style.scss';

.BUTTON {
    background-color: transparent;
    border: 2px solid $orange;
    border-radius: $radius-md;
    padding: $space-xxs $space-sm;
    transition: all $duration-xs;
    &:active,
    &:hover {
        border: 2px solid $d-orange;
        border-radius: $radius-sm;
    }
    &-rev {
    }
    &-active {
    }
}
