@import '../../../Assets/style.scss';

.SIDEBAR {
    position: fixed;
    top: 120px;
    left: -100%;
    border-top-right-radius: $radius-sm;
    border-bottom-right-radius: $radius-sm;
    background-color: $white;
    padding: $space-sm;
    transition: all $duration-xs;
    @media screen and (max-width: $sm) {
        top: 110px;
    }

    &:hover {
        transform: translateX(10px);
    }

    &__saved {
        & ul {
            padding: 0;
            list-style: none;
            @media screen and (max-width: $sm) {
                display: flex;
            }
            & li {
                margin-top: $space-xs;
                cursor: pointer;
                @media screen and (max-width: $sm) {
                    margin-right: $space-xs;
                }
            }
        }
    }

    // &__saved {
    //     border: 2px solid $orange;
    //     border-radius: $radius-md;
    //     margin: $space-sm 0 0 0;
    //     padding: $space-sm;
    //     transition: all $duration-xs;
    //     @media screen and (max-width: $xs) {
    //         position: fixed;
    //         top: 0;
    //         left: -100%;
    //         background-color: $white;
    //         width: 100%;
    //     }
    //     &:hover {
    //         border-radius: $radius-sm;
    //         border: 2px solid $d-orange;
    //     }

    //     & ul {
    //         list-style: none;
    //         & li {
    //             cursor: pointer;
    //             position: relative;
    //             margin: $space-xs 0 0 0;
    //             font-size: $font-xxs;
    //             &:hover {
    //                 color: $orange;
    //             }
    //         }
    //     }
    // }
}
