@import '../../../Assets/style.scss';

.SIDEBAR {
    position: fixed;
    top: 120px;
    left: -100%;
    border-top-right-radius: $radius-sm;
    border-bottom-right-radius: $radius-sm;
    background-color: $white;
    padding: $space-sm;
    transition: all $duration-xs;
    z-index: 999;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.75);
    @media screen and (max-width: $sm) {
        top: 110px;
    }

    &:hover {
        transform: translateX(10px);
    }

    &__saved {
        &-item{
            & .item{
                transition: all $duration-xs;
                margin-top: $space-xs;
                cursor: pointer;
                &:hover{
                    color: $green;
                }
            }
            & .delete{
                float: right;
                color: $red;
                cursor: pointer;
            }
        }
        & ul {
            padding: 0;
            list-style: none;
            @media screen and (max-width: $sm) {
                display: flex;
            }
            & li {
                
                
                @media screen and (max-width: $sm) {
                    margin-right: $space-xs;
                }

                & span{
                    
                }
            }
        }
    }
}
