@import '../../../Assets/style.scss';

.INPUT {
    color: $textmain1;
    border: none;
    border-radius: $radius-sm;
    width: 100%;
    padding: $space-xxs $space-sm;
    transition: all $duration-xs;
}
