@import '../../Assets/style.scss';

.SEARCH {
    min-height: 80vh;
    &__background {
        background: rgba(255, 255, 255, 0.8);
        background-image: linear-gradient(to right, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.3)),
            url('../../Assets/img/header.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 50vh;
    }
    &__header {
        width: 100%;
        &-title {
            text-align: center;
            font-size: $font-xxl;
        }
        &-input {
            width: 80%;
            margin: 0 auto;
        }
        &-err {
            background-color: rgba($color: #fff, $alpha: 0.7);
            padding: $space-xs;
            width: 30%;
            text-align: center;
            margin: $space-xs auto 0;
            border: 1px solid $red;
            & span {
                cursor: pointer;
                color: $red;
                float: right;
            }
        }
        &-buttons {
            width: 80%;
            margin: $space-md auto 0;
            display: flex;
            justify-content: space-between;
        }
    }
    &__container {
        &-pagination {
            margin: $space-sm 0 0 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
    }
}
