@import '../../../Assets/style.scss';

.MENU {
    background: linear-gradient(101deg, rgba(227, 102, 74, 1) 0%, rgba(160, 43, 15, 1) 100%);
    padding-bottom: 2px;
    &__container {
        background-color: $white;
        padding: 0 5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &-logo {
            width: 100px;
        }
    }
}
